@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* 
:root {
  --BGCOLOR:rgb(0, 0, 0);
  --BORDER-COLOR-LIGHT: #FFF;
  --BORDER-COLOR-DARK:rgb(2, 2, 20);
  --COLOR: #FFF;
  --ERROR: firebrick;
  --SUCCESS:green;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --ACCOUNT-BGCOLOR: red(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --FORM-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --DARK-COMPONENT-BG:rgb(64, 44, 190);
  --DARK-COMPONENT-COLOR:rgb(112, 146, 148);
  --LIGHT-COMPONENT-BG:rgb(163, 201, 203);
  --LIGHT-COMPONENT-COLOR:rgb(64, 44, 190);
  
} */

:root {
  /* COLORS */
  --BGCOLOR:rgb(255, 255, 255);
  --BORDER-COLOR-LIGHT: #000000;
  --BORDER-COLOR-DARK:rgb(241, 241, 244);
  --COLOR: #000000;
  --ERROR: firebrick;
  --SUCCESS:green;
  --INACTIVE: lightgray;
  --LINK-COLOR: rgb(31, 102, 152);
  --LINK-HOVER: firebrick;
  --ACCOUNT-BGCOLOR: red(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --FORM-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
  --DARK-COMPONENT-COLOR:rgb(64, 44, 190);
  --DARK-COMPONENT-BG:rgb(112, 146, 148);
  --LIGHT-COMPONENT-COLOR:rgb(163, 201, 203);
  --LIGHT-COMPONENT-BG:rgb(64, 44, 190);
  --DARKBLUE: #003380;
  --RED: firebrick;
  --YELLOW: rgb(225, 225, 113);
  --PURPLE:rgb(198, 75, 116);
  --GREEN:rgb(100, 141, 100);
  --LIGHTBLUE :rgb(102, 138, 150);
  --GREY:(rgb(249, 246, 246);)

  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.bg-warning{
  background-color:  var(--YELLOW) !important;
}
.bg-warning{
  background-color:var(--YELLOW)!important ;
}
.bg-danger{
  background-color: var(--RED) !important ;
}
.bg-success{
  background-color: var(--GREEN) !important;
}
  #root {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
  }
  
body {
  font-family: 'Nunito', sans-serif !important;
  min-height: 100vh;
  background-color: var(--BGCOLOR) !important;
  color: var(--COLOR) !important;
  /* background-image: url('./img/Baymax.jpg'); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}
/* Custom styles for carousel */

.navbar{
  font-family: 'Nunito', sans-serif;

  font-size: 20px;
  border-bottom: 4px solid firebrick;
}
.nav-item .dropdown-menu {
  background:rgb(255, 255, 255);
  border: 1px solid var(--HOVER-ELEMENT);
  border: 2px solid black;
}

.nav-item .dropdown-item {
  color: var(--COLOR);
}

.dropdown-item:hover {
  background: firebrick;
  color: white;
}
.nav-link.show{
  background-color: #ccc;
}

/* Custom styles for carousel */
/* Custom styles for carousel */
.carousel-container {
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .carousel-img {
    position: relative;
    bottom: 0;
    right: 50%;
    left: 10%;
    margin-bottom: 40px;
    max-width: 35%;
    max-width: 35%;

  }
  .logo-img {
    position: relative;
    bottom: 0;
    left: 1%;
    right: 25%;
    max-height: 120px;
    max-width: 100%;
  }
  .logo-letters{
    position: relative;
    margin: 0;
  }
  .carousel-letters {
    display: inline;
    bottom: 0;
    right: 50%;
    left: 10%;
    margin-bottom: 40px;
    max-width: 35%;
    max-width: 35%;

  }
  
  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    bottom: 0;
    color:#003380;
  }

  /* Media query for smaller screens */


.nav_button{
    width: 100px;
    margin: 5px 10px !important;
}



.welcome {
    display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 30px;
}


a {
    text-decoration: none;
    color: var(--LINK-COLOR);
}

a:visited {
  text-decoration: underline;
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}


.welcome a::before {
    content: "➜ "
}
.dash-header {
  padding-top: 20px;
  padding-bottom: 40px;
}

.dash-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  align-items: center;
  position: relative; /* Ensure parent container has position set */
  overflow: visible; /* Adjust overflow property as needed */
}

.icon-circle {
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  padding: 5px;
  color: #333;
}
#user-dropdown{
  display: none !important;
}
footer {
    font-size: 1rem;
    position: sticky;
    bottom: 0;
    background-color: var(--BGCOLOR);
  border-top: 1px solid var(--BORDER-COLOR-LIGHT);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}
.footer-list{
  color: white;
}
.footer-container{
  background-color: #003380;
  color: white;
  border-top: 2px solid var(--COLOR);
}
.dash-footer__button {
    font-size: 1rem;
  width: auto;
  height: auto;
}
.footer-link{
  color: white !important;
}
.footer-bottom{
  background-color: #003380;
  color: white;
}
.copy-right{
border-top: 2px solid white;
}

button {
  padding: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.hide {
    display: none;
  }
  .nowrap {
    white-space: nowrap;
  }
  
  .icon-button {
    width: 48px;
    height: 48px;
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    color: var(--COLOR);
  }
  .header-holder{
padding-right:20px;
padding-left:10px;
padding-top: 1em;
  }
  
  .icon-button:hover,
  .icon-button:focus-visible {
    transform: scale(1.1);
  }
  
  .icon-button[disabled] {
    visibility: hidden;
  }
  
  
  input,
  button,
  textarea,
  select {
      font: inherit;
  }


  section {
    width: 100%;
}

section.authSection{
    max-width: 420px;
    min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  background-color:hsl(211, 100%, 35%);
}
section.success{
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin: auto;
}
.auto{
  margin:auto
}


.authForm {
    display: flex;
    flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
}

.successMsg{
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background:var(--SUCCESS);
  color: #fff;
  border: 0.2em solid black;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}
.instructions,.errMsg {
  font-size: 1rem;
  border-radius: 0.5rem;
  color: firebrick;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.reg-button{
    margin-top: 1em;
}

@media (max-width: 767px) {

      
    .carousel-caption {
      position: absolute;
      right: 10% !important;
      left: 10% !important;



      background-color: rgba(128, 128, 128, 0.6); /* Grey transparent background */
      padding: 10px;
    }
  
    .carousel-caption-text {
      text-align: center;
    }
    section.authSection{
        width: 100%;
        border: none;

    }

  }

.data-card{
    background-color: var(--BGCOLOR) !important;    
}
.data-card:hover{
    transform: scale(1.05);
}
.grid-filter{
  border-right: 2px solid var(--COLOR) !important;
  padding-top: 2em;
  padding-bottom: 2em;
}
.grid-container{
  padding: 2em 4em;
}
/*Color filter*/
.checkbox-filter {
  padding: 10px;
  background-color: var(--BGCOLOR);
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-button {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%; /* Circular shape */
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden; /* Hide checkbox border */
}
.checkbox-button-square {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 2%; /* Circular shape */
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden; /* Hide checkbox border */
}

.checkbox-text-square{
  background-color: transparent;
}

.checkbox-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.tick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.checkbox-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.checkbox-button.checked {
  border-color: #f9f9f9;
}

.checkbox-button.checked .tick {
  background-color: rgb(30, 165, 30);
  color: rgb(30, 165, 30); 
}
/*price range filters*/
.price-filter, .data-filter {
  padding: 10px;
  background-color: var(--BGCOLOR); /* Black background */
  color: var(--COLOR); /* Text color */
}

.input-range {
  padding-top: 60px;

}

.input-range__slider {
  background-color: #007bff;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -12px;
}

.input-range__slider:click {
  background-color: #0056b3;
  transform: scale(1.5);
  border-radius: 50%;
  height: max-content;
}

.input-range__slider:active {
  background-color: #003380;
}
.price{
  color: green;
}

.input-range__label--max, .input-range__label--min{
  display: none;
}
.dash-nav-container{
  height: 100% !important;
}
.dash-nav{
  padding-top:20px !important;
  bottom:0px;
  height: 100vh; /* Set a fixed height, adjust as needed */
  overflow-y: auto; /* Allow vertical scrolling */
  border-right: 2px solid var(--COLOR);
}
.dash-nav,.dash-content{
  bottom:0px;
  height: 100vh; /* Set a fixed height, adjust as needed */
  overflow-y: auto; /* Allow vertical scrolling */
  border-right: 2px solid var(--COLOR);
  margin: 0;
}

/* Target the scrollbar track */
.dash-nav::-webkit-scrollbar,.auth-row::-webkit-scrollbar,.scroll-container::-webkit-scrollbar {
  width: 3px !important; /* Adjust the width as needed */
}

/* Target the scrollbar thumb */
.dash-nav::-webkit-scrollbar-thumb,.auth-row::-webkit-scrollbar-thumb{
  background-color: var(--DARKBLUE); /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* Target the scrollbar track on hover */
.dash-nav::-webkit-scrollbar-track,.auth-row::-webkit-scrollbar-track, {
  background-color:var(--GREY); /* Color of the track */
}

.link-item , .accordion-button{
  padding:0.2rem;  

}

 .accordion-button:not(.collapsed){
  background-color:#ccc;
}
.link-item{
  display: block;
}

.link-item:hover {
  color: var(--LINK-HOVER); /* Add desired background color on hover */
}

.active.link-item{
  background-color:#86b7fe;
  color: firebrick;
}

.accordion{
  --bs-accordion-color: var(--COLOR);
  --bs-accordion-bg: var(--BGCOLOR);
  --bs-accordion-btn-color: var(--COLOR);
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0;
  --bs-accordion-active-color: rgba(var(--LIGHT-COMPONENT-COLOR),0.5);
  --bs-accordion-active-bg: var(--LIGHT-COMPONENT-BG);
}
.link-item-text{
display: inline-block;
}
.link-item-icon{
  display: inline-block;
  padding: 0.4rem 0.5rem ;
}
.dash-img{
display: inline-block;
width: 100%;
margin-bottom: 0.5rem;
}
.link-item-container{
  margin:0;
  padding: 10px 0px
}

.active{
  color: var(--DARK-COMPONENT-COLOR);
}
.deleteCanvas{
  margin: auto;
  width: 40%;
  height:max-content !important;
}

/* PatientProfile.css */
.custom-card {
  background-color: white; /* White background for the card */
  color: black; /* Black text color */
}


.text-primary {
  color: black; /* Override the primary text color to black */
}

.horizontal-image {
  position: relative;
  width: 100%;
  height: 140px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
}

.circular-image {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  border-radius: 50%;
  width: 120px; /* Adjust as needed */
  height: 120px; /* Adjust as needed */
}

.section1-row{
height: 100%;
}

.section1-text{
  color:#003380;
}

.section1-headline{
  background-color: firebrick;
  padding-top:3%;
  padding-bottom: 3%;
  color: white;
}
.section1-button,.headline-button{
  margin: 10px;
  width: 75%;
  background-color:#003380;
}

.headline-imgae{
  width: 75%;
}
.section-features{
padding-bottom: 3%;
}
.section-feature-heading{
  color: #003380;
  border-bottom: 4px solid #003380;
}
.section-features-icon{
  color: white;
}
.section-feature-feature{
  background-color: #003380;
  color: white;
  border: 2px solid white;
  height: 350px;

}
.vission-col{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  color: firebrick;
}
.vission-col:hover{
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 10px rgba(20, 15, 99, 0.3); /* Customize the shadow as needed */

}
.vission-row{
  height: 100%;
}
.section-feature-feature:hover{
  border:none;
  box-shadow: 5px 5px 10px rgba(41, 5, 5, 0.3); /* Customize the shadow as needed */
  transform: translate(1px, 1px); /* Customize the translation values as needed */
}
.feature-heading{
  margin-bottom: 0;
}
.wave-image {
  position: absolute;
  top: 0;
  bottom:0;
  right: auto;
  left: auto;
  width: 100%;
  height: auto;
  filter: invert(53%) sepia(100%);
  opacity: 0.5;
}

.rotate {
  transform: rotate(24.65deg); /* Add the desired rotation angle */
}

/* Login.css */

.login-container {

  height: 100vh;
  color: #fff;
  background-image: url('./img/pic3.jpg'); 

}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #000000;
}

.auth-row{
  overflow-y: auto;
  margin:auto;
  background-color: white;
  height:80vh;
  box-shadow: 3px 3px 6px 6px rgba(20, 15, 99, 0.3); /* Customize the shadow as needed */
}
.auth-container{
margin: auto;
}
.auth-col-left{
  background-color: firebrick;
  color: white;
}
.auth-col-right{
background-color: white;
}
.fire-color{
  color: firebrick;
}
.water-color{
  color:#003380;
}
.success-color{
  color:green;
}
.success-bg{
  background-color:green;
}
.white-color{
  color:white;
}
.white-bg{
  background-color: white;
}
.fire-bg{
  background-color: firebrick;
}
.water-bg{
  background-color:#003380;
}
.underline{
  text-decoration: underline;
}
.form-check-label{
  margin: auto;
  margin-bottom:2px;
}
.form-check-input{
  margin: auto;
  margin-top: 2px;
}

.reg-type-container{
border: 4px solid #003380;}

.calendar-trashcan{
    color: white;
    margin: 0;
}
.calendar{
  height: 800px;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.calendar-button{
  margin: 10px;
  width: fit-content;
}
.rbc-toolbar-label{
  font-size: larger !important;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.account-icon {
  margin-right: 10px;
}

.chat-display {
  border: 1px solid #ccc;
  padding: 20px;
  height: 500px; /* Set the height as per your requirement */
  overflow-y: auto;
}
.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.account-icon {
  margin-right: 10px;
}

.message-count {
  margin-left: auto;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.chat-display {
  border: 1px solid #ccc;
  padding: 20px;
  height: 500px;
  width: 100%;
  overflow-y: auto;
}

.sent-message {
  text-align: right;
  width: 80%;
}

.received-message {
  text-align: left;
  width: 80%;
}

.chat-bubble {
  width: 100%;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 2px 0;
  display: inline-block;
}

.timestamp {
  color: #aaa;
  font-size: 0.8em;
  margin-top: 5px;
}
p.message, p.timestamp{
margin: 0;
}

.send-button{
  margin: 0;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 50%;
  color: #007bff;
  font-size: 1rem;
}
.message-input{
  height: 40px;
  margin-right: 0;
}
.message-form{
  align-items: center;
  vertical-align: top;
}

/*Image on profile page*/
.profileImage{
  height: 250px;
  width:250px;
}
.changepfp{
  width: 100%;
}

.position-relative {
  position: relative;
}

.overlay-button {
  top: 50%;
  left: 50%;
  width: 250px;
  margin: 10 0 ;
  padding: 0px;
    /* Remove background color */
    background-color: transparent !important;
    /* Remove border */
    border: none !important;
    /* Remove box-shadow */
    box-shadow: none !important;
    /* Set text color */
    color: inherit !important;
    /* Set cursor to pointer */
    cursor: pointer;

}

.position-relative:hover .overlay-button {
  opacity: 0.9;
}

.profile-section{
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(18, 17, 17, 0.1);
  margin-bottom: 20px;
}

.info-row {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  
}

.info-row span {
  margin-left: 10px;
}

.info-row .col {
  display: flex;
  align-items: center;
}

.profile-heading-text{
  margin: 0px;
}
.profile-sub-heading{
  margin: 0px;
}
.timeline-badge {
  background-color: #fff;
  border: 2px solid #003380;
  border-radius: 50%;
  color: #003380;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 1.2rem;
}

.timeline-panel {
  background-color: white;
  border-left: 1px solid #ddd;
  padding: 15px;
}

.timeline-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #003380
}


.timeline-panel p {
  margin: 0;
  margin-bottom: 5px;
}
.water-border{
  border: 2px solid   #003380;

}
.profile-section-btn{
  background-color: #fff;
  border: 2px solid   #003380;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  margin-right: 0px;
  margin-left: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

.profile-heading-row{
  border-bottom: 2px solid   #003380;
  margin: 0;
  padding: 0;
}
.personal-info{
  display: flex;
  flex-wrap: wrap;
}
.live-header {
  background-color: lightblue;
  text-align: left;
  padding:10px;
  width: 102%;
  margin-left: -1%;
  padding: 3px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */

}

.header-animated-text {
  font-size: 24px;
  font-weight: bold;
  animation: wave 1.5s infinite;
  margin: 0;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.search-container {
  position: relative;
}

.search-bar {
  padding: 5px 30px 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 100% !important;
}
.dash-icon-card{
  font-size: 4rem;
  margin: 0;
  padding: 0;
  width: 9rem ;
  align-items: center;
  justify-content: center;

}
.colored-icon-large{
  color: white ;
  border-radius: 25% ;
}
.search-icon {
  /* position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; */
}

.notification-container {
  position: relative;


}

.notification-token {
  position: absolute;
  top: -35px;
  right: -35px;
  color: white;
  font-size: 8px;
  padding: 2px;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: rgb(206, 13, 13);
  text-align: center;
}

.notification-icon {
  cursor: pointer;
}


.lightblue-bg{
background-color: rgb(102, 138, 150);
}
.main-h-100{
  height: 500px !important;
}
.h-100{
  height: 100%;
}
.green-bg{
  background-color: rgb(100, 141, 100);
}
.grey-bg{
background-color: rgb(249, 246, 246);
}

.purple-bg{
  background-color: rgb(198, 75, 116);
}
.white-bg{
  background-color: white;
}
.yellow-bg{
  background-color: rgb(225, 225, 113);
}

.lightblue-color{
color: rgb(102, 138, 150);
}

.green-color{
  color: rgb(100, 141, 100);
}
.grey-color{
color: rgb(249, 246, 246);
}

.purple-color{
color: rgb(198, 75, 116);
}
.white-color{
  color: white;
}
.yellow-color{
  color: rgb(225, 225, 113);
}
.lightblue-border{
border: 2px solid rgb(102, 138, 150);
}

.green-border{
  border: 2px solid rgb(100, 141, 100);
}
.grey-border{
  border: 2px solid rgb(249, 246, 246);
}

.purple-border{
  border: 2px solid rgb(198, 75, 116);
}
.white-border{
  border: 2px solid white;
}
.yellow-border{
  border: 2px solid rgb(225, 225, 113);
}

.dash-icon-card-body{
  padding: 0;
  padding-top: 10px;
}

.dash-calendar-holder{
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
}
.calendar-component{
  height: 260px;
  width: 370px;
  margin: 0;
  padding: 0px;
}
.pill{
  border-radius: 25px;
  border: 1px solid black;
;
}
.pill-profile{
  border-radius: 25px;
  border: 1px solid   #003380;
  ;
  font-size:15px ;
}

.pill-icon{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.list-icon-holder{
  font-size: 2rem;
  align-items: center;
  justify-content: center;

}
.page-Heading-l2{
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.page-heading-l3{
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.call-button {
  position: relative;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  font-size: larger;
}



.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent #333 transparent transparent;
  margin: 0 10px; /* Adjust the spacing between arrows */
  transition: opacity 0.3s; /* Add a transition effect for opacity */
  opacity: 0; /* Initially set opacity to 0 */
}

.arrow.active {
  opacity: 1; /* Set opacity to 1 when active */
}

.arrow.left {
  transform: rotateY(180deg); /* Rotate left arrow */
}
.arrow.right {
  transform: rotateY(90deg); /* Rotate left arrow */
}
.agora_video_player{
  min-width: 200px;
  min-height: 150px;
  transform: none !important;
  margin: 0;
  padding: 0;
  position: inherit !important;
  object-fit: contain !important;
  background-color: rgb(249, 246, 246);

}
.black-bg{
  background-color: black;
}

.all-videos-container{
  width: 850px;
  height: 400px;
}
.video-holder{
  width:350px;
  height:260px;
  background-color: #000;
}
.box {
  
  flex: 1; /* Each box will take up equal space */
  margin: 0 5px; /* Add some margin between the boxes */
  background-color: lightblue; /* Just for demonstration */
}

.btn{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.sensors-offcanvas{
  height: fit-content !important;
}

.equal-width{
  width: 400px;
}

.record-item-container{
width: 210px;
}
.record-summary-container{
  overflow: auto;
}

.message-container-agora{
  width: 80%;
}

.video-container{
  width: 800px;
}

.br-50{
  border-radius: 50%;
}

.mini-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.vertical-align{
  vertical-align: middle;
}